.feedback {
  margin: 0;
  padding: 0;
  margin-top:54px;
  margin-bottom: 54px;

  font-size: 14px;
  line-height: 30px;
  font-weight: lighter;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .feedback {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.feedback__form fieldset {
margin-bottom: 44px;
margin-top: 35px;
}
