.main-nav__list {
  position: relative;
  display: block;

  text-decoration: none;
  color: #ffffff;
  text-align: center;
  background-color: #283645;

 .style-reset();

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: flex-start;
  }
}