.main-title {
  min-height: 170px;
}

@media (min-width: @tablet-width) {
  .main-title {
  width: 330px;
  }
}

@media (min-width: @desktop-width) {
  .main-title {
    width: 290px;
  }
}

.main-title__wrapper {
 text-align: center;
}

.main-title__header {
  margin: 0;
  padding: 0;

  color: #ffffff;
}
