.packages-slider {
  padding-top: 90px;
  .container-fluid();
}

.packages-slider__inner {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}