.page-footer {
  margin: 0 auto;
  margin-top: 45px;
  min-height: 565px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 620px;
  }

@media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 940px;
  }
}

.page-footer__wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 620px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1200px;
    margin-left: 130px;
    margin-right: 130px;
  }
}


.page-footer__map {
  min-height: 200px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
