.promo {
  padding-top: 42px;
  padding-bottom: 290px;
}

.promo__intro {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  font-size: 24px;
  line-height: 29px; 
  font-weight: lighter; 
}

.promo__item b {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 24px;        
}

.promo__item p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px; 
  font-weight: 400;        
}

.promo__list {
  background-color: #f2f2f2;

  margin-top: 85px;
}


