.promo {
  .container-fluid();

  background-color: #f2f2f2;
}

.promo__intro-wrapper{
  width: 660px;
  text-align: center;

  background-color: #ffffff;

  margin: 0 auto;
  padding-bottom: 32px;
  margin-top: 45px;

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.promo__intro {
  padding: 0;
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 60px;
  }
}

.promo__item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.promo__item p {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    width: 310px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;

    width: 248px;
  }
}

.promo__list {
  .style-reset();
  margin: 0 auto;
  padding-top: 85px;
  width: 320px;
  padding-bottom: 315px;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center 507px;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    position: relative;

    min-height: 400px;
    width: 660px;

    padding-top: 123px;
    padding-bottom: 9px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: left bottom;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-image: none;
  }
}

.promo__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 330px;
    margin-left: auto;
    padding-bottom: 0;

    text-align: start;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    margin-left: 0;
    padding-top: 358px;

    text-align: center;
  }
}
