

.social__list {
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
